
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Jump</title>
    <script language=javascript>
        alert('该功能需要登录后使用\n获取账号请联系邮箱yakuyokin@gmail.com');
        window.location.replace('/Home/Login')
    </script>
</head>
<body>
    <div> 
    </div>
</body>
</html>
