
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Lottery.css" />
    <script src="~/bootstrap/bootstrap.min.js"></script>
</head>
<body>
    <form action="" method="post" autocomplete="off">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="text-center">Bilibili定时抽奖系统</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-4 form-group">
                    <label>视频av号</label>
                    <input type="number" class="form-control" id="avNum" name="avNum" value="1" min="1" max="999999999" />
                </div>
                <div class="col-lg-4 col-lg-offset-4 form-group">
                    <label>抽取人数</label>
                    <input type="number" class="form-control" id="lotteryNum" name="lotteryNum" value="1" min="1" max="1000" />
                </div>
                <div class="col-lg-4 col-lg-offset-4 form-group">
                    <label>开奖天数<small style="color:rgb(141, 141, 141)">设置为0则为即时开奖</small></label>
                    <input type="number" class="form-control" id="lotteryDay" name="lotteryDay" value="0" min="0" max="30" />
                </div>
                <div class="col-lg-4 col-lg-offset-4 form-group">
                    <label>是否开启刷楼筛选（即多次评论对中奖概率无影响）</label>
                    <input type="checkbox" class="" id="lotteryCheck" name="lotteryCheck" value="open" />
                </div>
                <div class="col-lg-2 col-lg-offset-5 form-group">
                    <input type="submit" class="form-control" id="submit" name="submit" />
                </div>
            </div>
        </div>
    </form>
</body>
</html>
